
@{
    ViewData["Title"] = "Asp.net Core CRUD Demo";
}

<h2 id="overview">Overview</h2>

<p>Author: <strong>liam.pham@grapecity.com</strong></p>

<p>Date: 20/03/2019</p>

<h2 id="requirements">Requirements</h2>

<p>Understand .NET core framework, ASP.NET Core infrastructure and basic components.</p>

<p>Build a simple .net Core app to do the CRUD actions.</p>

<h1 id="howtorunthistest">How to run this test</h1>

<p>You can view online demo at : <a href="https://gcfamily.azurewebsites.net" target="_blank">Asp.Net Core Demo</a> or run it yourself through <a href="https://github.com/liampham/gc_training_exercise5" target="_blank">Source Code</a>.</p>

<p>To run source code:</p>

<ul>
    <li>
        <p>Run with command line: </p>

        <ul>
            <li><p>install .Net Core    </p></li>

            <li>
                <p>Run command line : </p>

                <blockquote>
                    <p>dotnet restore</p>

                    <p>dotnet run</p>
                </blockquote>
            </li>
        </ul>
    </li>

    <li>
        <p>Run with Visual Studio 2017:</p>

        <p>
            <ul>
                <li>install  .NET core</li>
        </p>

        <p>
    <li>install VS workload (if not yet)</li></p>

    <p>
    <li>run/debug</li>
</ul>

<p></p></li>
</ul></p>